src/main/mule/customer-billing-crm-eapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	
	<flow name="customer-billing-crm-eapi-main">
		<http:listener path="/api/*"
			config-ref="customer-billing-crm-eapi-httpListenerConfig">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<set-variable value="#[attributes.headers.uuid default uuid()]" doc:name="uuid" doc:id="43a2736c-5325-415e-8bda-851c369ddd73" variableName="uuid"/>
		<set-variable value="#[attributes.headers.'idp-trace-id']" doc:name="idpTraceId" doc:id="2af4134b-714e-4dd5-ad2d-2a2c013071f1" variableName="idpTraceId"/>
		<apikit:router
			config-ref="customer-billing-crm-eapi-config" />
	</flow>
	<flow
		name="post:\billing\accounts\summary:application\json:customer-billing-crm-eapi-config">
		<flow-ref doc:name="bill-summary-details-sub-flow" doc:id="e4bed054-1ab9-46fb-ad9e-fbde62f7bfa4" name="bill-summary-details-sub-flow" />
	</flow>
	<flow
		name="get:\billing\(productId)\statements\(statementId)\details:customer-billing-crm-eapi-config">
		<flow-ref doc:name="product-statement-details-sub-flow" doc:id="b31aa583-aac2-4b10-91f5-02ab2d907621" name="product-statement-details-sub-flow" />
	</flow>
	<flow
		name="get:\billing\(productId)\statements\(statementId)\pdf:customer-billing-crm-eapi-config">
		<flow-ref doc:name="product-statement-pdf-sub-flow" doc:id="b440fd96-4f38-40a9-9a55-0384321ee0bc" name="product-statement-pdf-sub-flow" />
	</flow>
	<flow
		name="get:\billing\(productId)\currentBill\(ban):customer-billing-crm-eapi-config">
		<flow-ref doc:name="product-current-bill-details-sub-flow" doc:id="4f290909-5039-42d3-bb94-063012052f7c" name="product-current-bill-details-sub-flow" />
	</flow>
</mule>
